
.flexLaod{
    position: absolute;
display: flex;
flex-direction: row;
left:50%;
transform: translate(-50%);
}
.loading{
    margin-right: 20px;
    text-align: center;
    color:#3498db;
}
.loader {
    margin-top: 10%;
  border: 10px solid #dad7d7; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height:20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}